body{
  background-color: antiquewhite;
  font-family: "Open Sans";
}
h1,h2,h3 {
  text-align: center;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

audio{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lyrics{
  text-align: center;
  width: 500px;
  height: auto;
  border: 5px solid black;
  padding: auto;
  margin: auto;
  border-radius: 10px;
}

.community{
  text-align: left;
}

hr{
  border-color: rgb(90, 87, 87);
  background-color:rgb(136, 89, 89);
  padding: 0.54px;
}
